@media  screen and  (min-width: 1920px){
}
body {
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    }    

#Kasten1 {
        grid-area: 1 / 1 / 7 / 4;
        border: solid rgba(0, 255, 255, 0.062) 4px;
        background-color: rgba(0, 0, 255, 0.32);
    }  

#Kasten2 {
        grid-area: 1 / 4 / 5 / 7;
        border: solid rgba(65, 167, 155, 0.308) 4px;
        background-color: rgba(65, 167, 155, 0.308);
    }

#Kasten3 {
        grid-area: 5 / 4 / 7 / 7;
        border: solid rgba(227, 227, 9, 0.419);
        background-color: rgba(227, 227, 9, 0.419);
    }

@media only screen and (max-width: 768px) {
    /*For mobile phones: */ }
    [class*="parent"] {
    width: 100%
    }
#Kasten1 {
    grid-area: 1 / 1 / 3 / 7;
    }
#Kasten2 {
    grid-area: 3 / 1 / 5 / 7; 
    }
#Kasten3 {
    grid-area: 5 / 1 / 7 / 7; 
    }
